.btn-secondary {
  background-color: #fff;
  border-color: #fff;
}
.btn-secondary:hover {
  background-color: #fff;
  border-color: #fff;
}
.btn-secondary > {
  background-color: #fff;
}
.btn-primary {
  background-color: #0067b8;
}